body{
    margin: 0;
    padding: 10;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 600px;
    background: rgba(76, 216, 255, 0.97);
    color: rgb(10, 93, 121);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;
}

h1{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-size: 22px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}


.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(10, 93, 121);
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 20px;
    color: white;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:rgb(10, 93, 121);
    margin-left:15%;
    margin-right:10%;
    font-weight: 600;
}

.loginbox a:hover
{
    color: #ffc107;
}



